<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../selector-component/selector-component.html">
<link rel="import" href="../displayer-component/displayer-component.html">

<dom-module id="traficmeister-app">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
        background: var(--background-color, #e16626);
      }

      .rounded-border {
        border: 5px solid var(--box--border-color, black);
        background: var(--box--background-color, white);
        text-align: center;
      }

      .background-border {
        border: 10px solid var(--box--background-color, white);
      }

      #logo {
        height: 115px;
        position: relative;
        display: block;
        border: 5px solid black;
        z-index: 1;
      }

      #logo img {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      .flex {
        overflow: hidden;
        margin-top: 15px;
      }

      .flex .flex-left {
        width: 64%;
        float: left;
      }

      .flex .flex-right {
        width: 27%;
        float: right;
      }
    </style>

    <div class="background-border rounded-border">
      <div id="logo">
        <img src="/src/assets/logo.png" />
      </div>
    </div>

    <div class="flex">
      <div class="flex-left background-border">
        <selector-component class="rounded-border" selected={{_selected}} />
      </div>

      <div class="flex-right background-border">
        <displayer-component class="rounded-border" source=[[_selected]] />
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TraficmeisterApp extends Polymer.Element {
      static get is() { return 'traficmeister-app'; }
      static get properties() {
        return {
          _selected: {
            type: String,
            value: null
          },
        };
      }
    }

    window.customElements.define(TraficmeisterApp.is, TraficmeisterApp);
  </script>
</dom-module>
