<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<dom-module id="displayer-component">
  <template>
    <style>
      :host {
        display: block;
      }

      img {
        width: 100%;
      }
    </style>

    <img hidden$={{_loading}} src=[[source]] />
    <img hidden$={{!_loading}} src="/src/assets/spinner.gif" />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DisplayerComponent extends Polymer.Element {
      static get is() { return 'displayer-component'; }
      static get properties() {
        return {
          source: {
            type: String
          },
          _loading: {
            type: Boolean,
            computed: '_getLoading(source)'
         }
        };
      }

      _getLoading(source) {
        return !source;
      }
    }

    window.customElements.define(DisplayerComponent.is, DisplayerComponent);
  </script>
</dom-module>
