<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../dropdown-api/dropdown-api.html">
<link rel="import" href="../vehicle-api/vehicle-api.html">

<dom-module id="selector-component">
  <template>
    <style>
      :host {
        display: block;
      }

      ul {
        list-style: none;
        padding: 0;
      }
    </style>

    <ul class="clear" id="wrapper">
      <li>
        <paper-toast id="vehicleError" text="error getting vehicles, please re-load."></paper-toast>
        <dropdown-api title="Vehicle"
          options=[[vehicleOptions]]
          value={{selectedVehicle}}
        ></dropdown-api>
      </li>

      <li>
        <paper-toast text="Error getting brands, please re-select the vehicle type." id="brandError"></paper-toast>
        <dropdown-api title="Brand"
          options=[[brandOptions]]
          value={{selectedBrand}}
        ></dropdown-api>
      </li>

      <li>
        <paper-toast text="Error getting colors, please re-select the vehicle brand." id="colorError"></paper-toast>
        <dropdown-api title="Color"
          options=[[colorOptions]]
          value={{selectedColor}}
        ></dropdown-api>
      </li>
    </ul>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SelectorComponent extends VehicleApi(Polymer.Element) {
      static get is() { return 'selector-component'; }
      static get properties() {
        return {
          selected: {
            type: String,
            notify: true,
            value: null
          },
          vehicleOptions: {
            type: Array,
            value: []
          },
          colorOptions: {
            type: Array,
            value: []
          },
          brandOptions: {
            type: Array,
            value: []
          },
          selectedVehicle: {
            type: String,
            observer: '_changedVehicle'
          },
          selectedBrand: {
            type: String,
            value: null,
            observer: '_changedBrand'
          },
          selectedColor: {
            type: String,
            value: null,
            observer: '_changedColor'
          }
        };
      }

      constructor() {
        super();
        this.getVehicles(
          this.set.bind(this, 'vehicleOptions'),
          this._errorHandler.bind(this, 'vehicleError')
        );
      }

      ready() {
        super.ready();
        this.$.vehicleError.fitInto = this.$.wrapper;
        this.$.brandError.fitInto = this.$.wrapper;
        this.$.colorError.fitInto = this.$.wrapper;
      }

      _errorHandler(errorDivId) {
        this.$[errorDivId].open();
      }

      _changedColor(selectedColor) {
        if (selectedColor) {
          this.getVehicle({
              vehicle: this.selectedVehicle, brand: this.selectedBrand, color: this.selectedColor
            },
            this.set.bind(this, 'selected')
          );
        } else {
          this.set('selected', null);
        }
      }

      _changedBrand(selectedBrand) {
        if (selectedBrand) {
          this.set('colorOptions', []);
          this.getColors({
              vehicle: this.selectedVehicle, brand: this.selectedBrand
            },
            this.set.bind(this, 'colorOptions'),
            this._errorHandler.bind(this, 'colorError')
          );
        }
      }

      _changedVehicle(selectedVehicle) {
        if (selectedVehicle) {
          this.set('brandOptions', null);
          this.set('colorOptions', []);
          this.getBrands({
              vehicle: this.selectedVehicle
            },
            this.set.bind(this, 'brandOptions'),
            this._errorHandler.bind(this, 'brandError')
          );
        }
      }
    }

    window.customElements.define(SelectorComponent.is, SelectorComponent);
  </script>
</dom-module>
