<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<dom-module id="dropdown-api">
  <template>
    <style>
      :host {
        display: block;
      }

      ul {
        list-style: none;
        padding: 0;
      }
    </style>

    <paper-dropdown-menu
      id="paperDropDown"
      value={{value}}
      label="[[title]]"
      disabled={{_disabled}}
    >
      <paper-listbox slot="dropdown-content"
        selected={{_selectedIndex}}
      >
        <template is="dom-repeat" items=[[options]]>
          <paper-item>[[item]]</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DropdownApi extends Polymer.Element {
      static get is() { return 'dropdown-api'; }

      static get properties() {
        return {
          options: {
            type: Array,
            value: []
          },
          value: {
            type: String,
            notify: true,
            value: null,
            observer: '_fixAutoSelect'
          },
          _selectedIndex: String,
          title: String,
          _disabled: {
            type: Boolean,
            value: true,
            computed: '_setDisabled(options)'
          }
        };
      }

      _fixAutoSelect() {
        this.set('_selectedIndex', undefined); // fix paper-drop-down auto select on options change
        return undefined;
      }

      _setDisabled(options) {
        return (!options || options.length === 0);
      }
    }

    window.customElements.define(DropdownApi.is, DropdownApi);
  </script>
</dom-module>
