<script src="../../bower_components/lodash/lodash.js"></script>

<script>
  VehicleApi = function(superClass) {
      return class extends superClass {

      static get properties() {
        return {
          _foundVehicle: Object
        };
      }

      getVehicle(selections, callback, errorCallback) {
        callback(this._foundVehicle.img);
      }

      getColors(selections, callback, errorCallback) {
        window.trafficMeister.fetchData((err, data) => {
          let colors = [];
          if (err) {
            return errorCallback(err);
          }

          this.set('_foundVehicle', _.find(data, {
            type: selections.vehicle,
            brand: selections.brand
          }));
          callback(this._foundVehicle.colors);
        });
      }

      getBrands(selections, callback, errorCallback) {
        window.trafficMeister.fetchData((err, data) => {
          let brands = [];
          if (err) {
            return errorCallback(err);
          }

          brands = data.map((vehicle) => {
            if (vehicle.type === selections.vehicle) {
              return vehicle.brand;
            }
          });
          brands = _.uniq(brands).filter((e) => {
            return (e); // remove undefinded and nulls. uniq shoud do it for us -.-
          });
          callback(brands)
        });
      }

      getVehicles(callback, errorCallback) {
        window.trafficMeister.fetchData((err, data) => {
          let vehicles = [];
          if (err) {
            return errorCallback(err);
          }

          vehicles = data.map((vehicle) => {
            return vehicle.type;
          });
          vehicles = _.uniq(vehicles);
          callback(vehicles)
        });
      }
    }
  }

  if (typeof module !== 'undefined') {
    module.exports = VehicleApi;
    window.trafficMeister = VehicleApi;
  }
</script>
